<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /routing
    RewriteRule ^routing/index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /routing/index.html [L]
</IfModule>